/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  font-size: 2rem;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  font-family: "Source Sans Pro", sans-serif;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  line-height: 2rem;
  font-size: 1.6rem;
}
.q-logo {
  color: #0AC3CF;
  font-weight: 600;
  font-size: 4rem;
}
.q-logo span {
  padding-left: 5px;
  font-size: 1.6rem;
  color: #2E2C48;
  vertical-align: middle;
  font-weight: 600;
}
@media (min-width: 500px) {
  .q-logo span {
    display: inline-block;
  }
}
.mobile.tablet {
  display: block;
}
.tablet,
.desktop {
  display: none;
}
@media (min-width: 500px) {
  .mobile {
    display: none;
  }
  .mobile.tablet,
  .tablet {
    display: block;
  }
}
@media (min-width: 800px) {
  .mobile,
  .mobile.tablet,
  .tablet {
    display: none;
  }
  .desktop {
    display: block;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem;
}
nav .right {
  flex: 2;
  text-align: right;
}
nav .right button.sign-up {
  border: none;
  border-radius: 5px;
  background-color: #2E2C48;
  font-weight: 600;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding: 1rem 2rem;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
}
nav .right .links {
  font-size: 1.8rem;
  color: #646378;
}
nav .right .links a {
  margin: 0px 3%;
}
nav .right .links a:last-of-type {
  margin-right: 0;
}
footer {
  background: #EFEFEF;
  padding: 5%;
  font-size: 1.6rem;
  border-top: 1px solid #E0E0E0;
}
footer nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #646378;
}
footer nav a {
  margin-bottom: 4%;
  font-weight: 600;
}
footer small {
  display: block;
  margin-top: 2%;
  font-size: 1.4rem;
}
.landing {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .landing {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0;
  }
}
.landing .content div {
  margin: 5vh 0;
  max-width: 400px;
}
.landing .content div h2 {
  font-weight: 600;
}
@media (min-width: 800px) {
  .landing .content div h2 {
    font-size: 3rem;
  }
}
@media (min-width: 800px) {
  .landing .content div h3 {
    font-size: 2.2rem;
  }
}
.landing .content div h2,
.landing .content div h3 {
  margin-bottom: 1vh;
}
.landing .content div p {
  margin: 2vh 0;
}
.landing .content .for-students button {
  border: none;
  border-radius: 5px;
  background-color: #C716C4;
  font-weight: 600;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding: 1rem 2rem;
}
.landing .content .for-helpers button {
  border: none;
  border-radius: 5px;
  background-color: #0AC3CF;
  font-weight: 600;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding: 1rem 2rem;
}
.landing .app-demo img.desktop {
  height: 85vh;
}
